.all-cards-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--neutral-900);
    background-color: var(--neutral-0);
    box-shadow: 1px 1px 0px var(--neutral-900);
    border-radius: 16px;
    padding: 32px;

    &>.form-footer{
        
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 12px;

        & > button {
            background-color: var(--yellow-500);
            width: fit-content;
        }

        &>.error-div{
            display: flex;
            align-items: center;
            gap: 6px;

            &>img{
                width: 15px;
                height: 15px;
            }

            &>p{
                color: var(--pink-700);
            }
        }

    }

}
