.all-cards-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  & > .all-cards-list-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  & > button {
    width: fit-content;
    align-self: center;
  }
}

.flashcard-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--neutral-900);
  box-shadow: 1px 1px 0px var(--neutral-900);
  border-radius: 16px;
  background-color: var(--neutral-0);

  & > h1 {
    color: var(--neutral-900);
    padding: 16px;
  }

  & > .flashcard-card-answer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 16px;
    border-top: 1px solid var(--neutral-900);
    border-bottom: 1px solid var(--neutral-900);

    & > p:first-of-type {
      color: var(--neutral-600);
    }

    & > p:last-of-type {
      color: var(--neutral-900);
    }
  }

  & > .flashcard-card-footer {
    display: flex;
    height: 56px;

    & > .flashcard-card-category {
      padding: 14px 10px 14px 16px;
      display: flex;
      align-items: center;

      & > p {
        color: var(--neutral-900);
        padding: 6px 12px;
        border-radius: 999px;
        width: fit-content;
        background-color: var(--neutral-0);
        border: 1px solid var(--neutral-900);
        box-shadow: 1px 1px 0px var(--neutral-900);
      }
    }

    & > .flashcard-card-known-count {
      flex: 1;
      border-left: 1px solid var(--neutral-900);
      border-right: 1px solid var(--neutral-900);
      padding-block: 14px;
      padding-left: 8px;

      display: flex;
      align-items: center;

      & > .flashcard-card-mastered {
        display: flex;
        align-items: center;
        gap: 6px;
        width: fit-content;
        padding: 6px 12px;
        border-radius: 999px;
        box-shadow: 1px 1px 0px var(--neutral-900);
        border: 1px solid var(--neutral-900);
        background-color: var(--teal-400);

        & > img {
          width: 16px;
          height: 16px;
        }

        & > p {
          color: var(--neutral-900);
        }
      }
    }

    & > .flashcard-card-menu {
      padding: 16px 16px 16px 8px;

      & > .flashcard-card-menu-button {
        position: relative;
        & > button {
          background-color: transparent;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;

          border: 1px solid transparent;
          transition: all 0.3s ease;

          &:hover {
            cursor: pointer;
            border: 1px solid var(--neutral-900);
            box-shadow: 2px 2px 0px var(--neutral-900);
          }

          & > img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
