.study-statistics {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-900);
    box-shadow: 1px 1px 0px var(--neutral-900);
    padding: 24px;
    border-radius: 16px;
}

.study-statistics-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.study-stat-card {
    display: flex;
    background-color: var(--neutral-0);
    border-radius: 12px;
    box-shadow: 1px 1px 0px var(--neutral-900);
    height: 120px;
}

.study-stat-card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: 1px solid var(--neutral-900);
    border-right: none;

    & > h2,
    & > P {
        color: var(--neutral-900);
    }
}

.study-stat-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid var(--neutral-900);

    & > img {
        width: 24px;
        aspect-ratio: 1/1;
    }
}

.study-stat-card-icon.total {
    background-color: var(--blue-400);
}

.study-stat-card-icon.mastered {
    background-color: var(--teal-400);
}

.study-stat-card-icon.in-progress {
    background-color: var(--pink-500);
}

.study-stat-card-icon.not-started {
    background-color: var(--pink-400);
}
