.knowledge-count{
    display: flex;
    gap: 8px;
    align-items: center;

    &>p{
        color: var(--neutral-900);
    }

    &>.external-bar{
        width: 60px;
        height: 8px;
        background-color: var(--neutral-0);
        border: 1px solid var(--neutral-900);
        border-radius: 999px;
        
        &>.filling-bar{
            height: 100%;
            background-color: var(--neutral-900);
            border-radius: 999px;
        }
    }
}