.btn {
    display: flex;
    padding: 12px 16px;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid var(--neutral-900);
    background-color: var(--neutral-0);
    transition: transform 0.3s ease;

    &:hover {
        cursor: pointer;
        transform: translateY(-2px);
    }

    &:focus-visible {
        outline: 2px solid var(--blue-600);
        outline-offset: 1px;
        border-color: var(--neutral-900);
    }

    &.reverse {
        flex-direction: row-reverse;
    }

    &.shadow {
        box-shadow: 1px 1px 0px var(--neutral-900);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        transform: none;
    }
}
