.edit-modal {
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--neutral-0);
    border-radius: 16px;
    border: 1px solid var(--neutral-900);
    padding: 32px;
    box-shadow: 1px 1px 0px var(--neutral-900);
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1001;

    & > h1 {
        color: var(--neutral-900);
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & > .edit-modal-answer {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & > p {
                color: var(--neutral-900);
            }

            & > textarea {
                background-color: var(--neutral-0);
                width: 100%;
                padding: 16px;
                border: 1px solid var(--neutral-900);
                border-radius: 6px;
                height: 100px;
                resize: none;

                &:placeholder {
                    color: var(--neutral-600);
                }
            }
        }
    }

    & > button:first-of-type {
        position: absolute;
        top: 16px;
        right: 16px;
        width: fit-content;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        & > svg {
            color: var(--neutral-900);
            transition: color 0.3s ease;
        }

        &:hover {
            cursor: pointer;
            & > svg {
                color: var(--neutral-600);
            }
        }

        &:focus {
            outline: 1px solid var(--neutral-900);
            border-radius: 4px;
        }
    }

    & > button:last-of-type {
        width: fit-content;
        align-self: flex-end;
        background-color: var(--yellow-500);
    }
}
