.all-cards{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.all-cards-empty{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    justify-content: center;

    &>*{
        color: var(--neutral-900);
    }
}