.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-btn{
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 999px;
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-900);
    box-shadow: 0px 2px 0px rgb(0,0,0);
    gap: 4px;
    transition: transform 0.3s ease;

    &:hover{
        transform: translateY(-2px);
    }

    &>a{
        text-decoration: none;
        color: var(--neutral-900);
        border-radius: 999px;
        padding: 12px 16px;
        border: 1px solid transparent;
        transition: border-color 0.3s ease, background-color 0.3s ease;
    
        &.selected{
            background-color: var(--yellow-500);
            border-color: var(--neutral-900);
        }

        &:hover{
            border-color: var(--neutral-900);
        }

        &:focus-visible{
            outline: 2px solid var(--blue-600);
            outline-offset: 1px;
            border-color: var(--neutral-900);
        }
    }
}