.category-select {
    position: relative;

    & > .categories-selection {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: calc(100% + 8px);
        width: 260px;
        border: 1px solid var(--neutral-900);
        border-radius: 8px;
        transition: opacity 0.3s ease;
        background-color: var(--neutral-0);
        z-index: 1000;
        visibility: hidden;

        & > .category-item {
            display: flex;
            align-items: center;
            padding: 8px 16px;
            gap: 8px;
            border-radius: 8px;
            background-color: var(--neutral-0);
            transition: background-color 0.3s ease;

            & > p {
                color: var(--neutral-900);

                & > span {
                    color: var(--neutral-600);
                }
            }

            &:hover {
                cursor: pointer;
                background-color: var(--neutral-100);
            }
        }

        &.visible {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }
    }

}
