.delete-modal {
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--neutral-0);
  border-radius: 16px;
  border: 1px solid var(--neutral-900);
  box-shadow: 1px 1px 0px var(--neutral-900);
  display: flex;
  flex-direction: column;
  z-index: 1001;

  & > .delete-modal-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;

    & > * {
      color: var(--neutral-900);
    }
  }

  & > hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--neutral-900);
  }

  & > .delete-modal-buttons {
    display: flex;

    justify-content: flex-end;
    gap: 10px;
    padding: 16px 24px;

    & > button:first-of-type {
      background-color: var(--yellow-500);
    }
  }
}
