@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Sans-Serif";
    user-select: none;
    color: var(--neutral-900);
}

/*Colors variables*/
:root {
    /*Neutral colors*/
    --neutral-900: #2e1401;
    --neutral-600: #6d5b4d;
    --neutral-100: #f7f3f0;
    --neutral-0: #ffffff;

    /*Accent colors*/
    --yellow-500: #f8cb46;
    --blue-400: #92adeb;
    --blue-600: #5072c7;
    --teal-400: #47d9c9;
    --pink-400: #fc8ae5;
    --pink-500: #f073a3;
    --pink-700: #e11966;
}

/*Texts presets*/
.text-preset-1 {
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 0px;
}

@media screen and (max-width: 1024px) {
    .text-preset-1 {
        font-size: 32px;
        line-height: 120%;
        font-weight: 700;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 768px) {
    .text-preset-1 {
        font-size: 24px;
        line-height: 120%;
        font-weight: 700;
        letter-spacing: 0px;
    }
}

.text-preset-2 {
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: 0px;
}

.text-preset-3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 120%;
}

.text-preset-4-semibold {
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: 0px;
}

.text-preset-4-medium {
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: 0px;
}

.text-preset-4-regular {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0px;
}

.text-preset-5 {
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    letter-spacing: 0px;
}

.text-preset-5-regular {
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0px;
}

.text-preset-6 {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}

/*App Layout*/

#app {
    display: flex;
    flex-direction: column;
    padding: 24px 100px;
    gap: 32px;
    background-color: var(--neutral-100);
    min-height: 100vh;
}
