.shuffle-nav-bar{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--neutral-900);
    gap: 16px;
    
    &>.hide-mastered{
        display: flex;
        align-items: center;
        gap: 8px;

    }

    &>button:last-of-type{
        margin-left: auto;
    }
}