.shuffle-nav-bar{
    display: flex;
    padding: 20px;
    gap: 16px;
    
    &>.hide-mastered{
        display: flex;
        align-items: center;
        gap: 8px;

    }

    &>button:last-of-type{
        margin-left: auto;
    }

    &.no-padding{
        padding: 0;
    }
}