.shuffle-nav-bar {
    display: flex;
    padding: 20px;
    gap: 16px;

    & > div{
        display: flex;
        align-items: center;
        gap: 16px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
        
        & > .hide-mastered {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    & > button:last-of-type {
        margin-left: auto;
        height: fit-content;
    }

    &.no-padding {
        padding: 0;
    }
}
