.menu-modal {
    position: absolute;
    bottom: calc(100% + 21px);
    right: -8px;
    width: 140px;
    background-color: var(--neutral-0);
    border-radius: 8px;
    border: 1px solid var(--neutral-900);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;

    & > hr {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid var(--neutral-900);
    }

    & > button {
        width: 100%;
        height: 36px;
        padding: 8px 16px;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 8px;

        &:first-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:last-of-type {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        &:hover {
            background-color: var(--neutral-100);
            cursor: pointer;
        }

        & > img {
            width: 16px;
            height: 16px;
        }

        & > p {
            color: var(--neutral-900);
        }
    }

    &.show {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}
